#tier {
    padding: 5px;
}

.tier-list {
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 30px;
    padding: 1rem;
    display: flex;
    

}

.tier-list > h1 {
    padding-right: 10px;
    border-right: 1px solid black;
}