body {
    padding: 0;
    margin: 20px;
    background-color: #242222;
    font-family: Arial, Helvetica, sans-serif;
}

h1, label {
    color: white;

}
#tier, #image-item {
    padding: 5px;
}

.submitBtn {
    padding: 5px 10px;
    background-color: #FF7F7F;
    border-radius: 10px;
}

.tier-list {
    margin-top: 2rem;
    border: 1px solid white;
    display: flex;
    height: 75px;

}
i{
    padding: 10px;
    cursor: pointer;
}
.heading {
    min-width: 200px;
    font-size: xx-large;
    font-weight: lighter;
    padding-left: 10px;
}
.heading>input{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: xx-large;
}

.tier-list{
    display: flex;
    align-items: center;
}
.tier-list-items{
    width: 100%;
    height: 75px;
    background-color: #363636;
}
#non-tier-section {
    display: flex;
    gap: 1rem;
}

.item-container {
    width: 75px;
    height: 75px;
    margin-left: 5px;
}

.tier-list-items {
    min-width: 50%;
    display: flex;
}

.item-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}